.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}
    .author-info .author-img{
        padding:10px 20px;
    }
#post-detail{
    padding:0 20px;
}
#post-category:hover {
    color: #4285F4;
}
pre {
    background-color: #F8F8F8;
    margin:0;
}
.code {
    display: flex;
    width:100%;
    background-color: #F8F8F8;
    text-align:left;
    position:relative;
    padding:10px;
}
.copy-code-btn{
    position:absolute;
    right:3px;
    top:3px;
    opacity:.4;
    cursor:pointer;
}



/* ----------------------------------------------------------------------
    从编辑器中获取的 html 代码是不包含任何样式的纯 html，如果显示的时候需要对其中的<table><code><blockquote>等标签进行自定义样式（这样既可实现多皮肤功能）
------------------------------------------------------------------------*/
/* table 样式 */
table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

    table td,
    table th {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 3px 5px;
    }

    table th {
        border-bottom: 2px solid #ccc;
        text-align: center;
    }

/* blockquote 样式 */
blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

/* code 样式 */
code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}

pre code {
    display: block;
    background-color: #f1f1f1;
}

/* ul ol 样式 */
#post-detail ul, ol {
    margin: 10px 0 10px 20px;
}
