#aside-content {
    width: 220px;
    background-color: white;
    margin-right: 5px;
}
#write-area {
    width: 100%;
    background-color: white;
    min-height:600px;
    padding:20px 15px;
}
.w-e-text-container {
    min-height: 600px !important; /*!important是重点，因为原div是行内样式设置的高度300px*/
}

#txtTitle {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 16px;
    border: none;
    background-color: #efefef;
    color: #4f4f4f;
    margin-bottom: 10px;
}
.tokenfield .token {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    background-color: #ededed;
    white-space: nowrap;
    margin: -1px 5px 5px 0;
    height: 22px;
    vertical-align: top;
    cursor: default;
}
#posttag .tokenfield .token .close {
    font-family: Arial;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.29em;
    margin-left: 5px;
    float: none;
    height: 100%;
    vertical-align: top;
    padding-right: 4px;
    padding-left: 4px;
    color: #3ba8f5;
    background-color: white;
}
.article-type {
    width: 150px;
    border: 1px solid #dad6d6e6;
    height: 35px;
    color: #8a8787e6;
    border-radius:4px;
}
#vaildate {
    align-items: center;
    justify-content: center;
    bottom: 120px;
    text-align: center;
    color: red;
    width: 250px;
    line-height: 36px;
    border-radius: 5px;
    opacity:1;
}
.hide{
    opacity:0;
}

#aside-content ul {
    padding: 0;
    margin: 0;
}
#aside-content ul li {
    list-style: none;
    line-height: 30px;
    text-align: left;
    padding: 10px;
}
    #aside-content ul li:hover {
        background-color: #3ba8f5;
    }
#aside-content .checked {
    background-color: #3ba8f5;
}
.w-e-menu{
    z-index: 2 !important;
}
.w-e-text-container{
    z-index: 1 !important;
}
@media(max-width:990px) {
    #aside-content {
        display: none;
    }
}

