/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}

body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 7px;     /*高宽分别对应横竖滚动条的尺寸*/
    max-height: 200px;
}
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
     opacity: 0.4;
    background: #cfcfcf;
}
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
p {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: #999;
}

hr{
    margin-top: 4px;
    margin-bottom: 8px;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/*--------------------
    search-posts
---------------------*/
#content #search-posts {
    width: 100%;
    height: 46px;
    background-color: white;
    text-align: center;
    line-height: 46px;
    position: absolute;
    z-index: 999;
    top: 73px;
    opacity: .8;
    display:none;
}
#search-result {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 5px;
    position: relative;
    width: 100%;
    line-height: 40px;
}
    #search-result:before {
        position: absolute;
        top: 3px;
        content: " ";
        height: 40px;
        left: 0;
        border-left: 4px solid #4285F4;
    }
    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
    #sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        z-index: 999;
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
        overflow-y: auto;
        overflow-x: hidden;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

#sidebar.active {
    left: 0;    
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}
#menu li a{
    color: #999;
}
#menu li:hover>a{
    color: #4285F4;
}
#menu li .clickactive{
    color: #4285F4;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

.user-opt-list {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 56px;
    background-color: white;
    width: 110px;
    left: -10px;
    padding: 10px;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 5px;
}

    .user-opt-list li {
        padding: 0;
        margin: 0;
        list-style: none;
        padding: 10px 0 0 0;
        cursor: pointer;
        color: #71777c;
        font-size: 14px;
    }
#usr-opt{
    display:none;
}
#usr-opt li:hover a {
    color: #4285F4;
}
.faw:before {
    content: "\e60e";
    opacity: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}
#sidebarCollapse{
    display: none;
}
@media(max-width:990px){
    #sidebarCollapse{
        display: block;
        z-index: 1;
    }
    #user-info,
    #user-login,
    #write-post {
        display: none;
    }
}
@media(max-width:990px){
    #aside{
        display: none;
    }
    #useropt{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;
    }
    #useropt ul{
        width: 45px;
    }
    .menu{
        display: none;
    }
    .container{
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 960px;
    }
    .mylogo{
        top:0;/*IE*/
        left: 10px;/*IE*/
        width: 100%;
        position: absolute;
        text-align: center;
    }
}

#sidebar::-webkit-scrollbar {/*滚动条整体样式*/
    width: 7px;     /*高宽分别对应横竖滚动条的尺寸*/
    max-height: 200px;
}
#sidebar::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
     opacity: 0.4;
    background: lightsteelblue;
}
#sidebar::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: white;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #718db9;
    background: #b0b9e2;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/*-----------------------------------------------
    ASIDE
-------------------------------------------------*/

#write-post::after{ 
    content: ' ';
    width: 15px;
    height: 15px;
    border-right: 2px solid #d1d4da;
    position: absolute;
    top: 12px;
    right: 3px;  
}

#aside{
    width: 240px;
    min-width: 240px;
    margin-left: 20px;
}
.title{
    font-size: 18px;
    font-weight: 700;
    border-left: 4px solid #4285F4;
    border-radius: 2px;
    padding-left: 10px;
    margin-bottom: 10px;
    line-height: 40px;
}
.slogan{
    margin-bottom: 2px;
    font-size: 13px;
    color: #2e3135;
}
.my-shadow{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.section{
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    max-height: 200px;
}
.notice-list{
    max-height: 140px;
    overflow-x:hidden;
    overflow-y: auto;
}
.notice-list ul{
    padding: 0 10px 10px 10px;
    margin: 0;    
}
.notice-list ul li{
    font-size: 13px;
    padding: 5px 0 5px 0;
    list-style: none;
}
.notice-list ul li:hover>a{
    color:#4285F4;
}
.notice-list ul li .notice-date{
    float:right;
}
.notice-list::-webkit-scrollbar {/*滚动条整体样式*/
    width: 2px;     /*高宽分别对应横竖滚动条的尺寸*/
    max-height: 200px;
}
.notice-list::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #4285F4;
}
.notice-list::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
.tag-link{
    display: none;
    float: right;
    font-size: 13px;
    font-weight: 400;
    padding-right: 10px;
    color: #3b78ea;
}
.tags{
    min-height: 120px;
    padding: 10px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}
.tag-list a{
    color: #999;
    font-size: 10px;
    background-color: #f6f6f6;
    float: left;
    width: auto;
    margin: 0 1% 1% 0;
    padding: 0 8px;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    overflow: hidden;
}
.tag-list a:hover{
    background-color: lightblue;
}
.tag-content{
    padding-left: 10px;
}

/*------------------------
    问题反馈，回到顶部
--------------------------*/
.scroll-to-top{
    position: fixed;
    right: 30px;
    bottom: 80px;
    opacity: 0.4;
    display: none;
}
.feedback{
    position: fixed;
    right: 30px;
    opacity: 0.4;
    bottom: 30px;
}

/*----------------------
  页脚
------------------------*/
.footer{
    display: flex;
    font-size: 14px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
    background-color: #FFFFFF;
}
/* vue 动画 */
.card-enter-active {
    /*card为transition-group的name，自定义。*/
    /*transition-group 列表，transition单个元素*/
    animation: bounce-in .8s;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

/*加载动画*/

.sk-three-bounce {
    display: none;
    padding-top: 5px;
    text-align: center;
}

.sk-three-bounce .sk-child {
    width: 20px;
    height: 20px;
    background-color: lightseagreen;
    border-radius: 100%;
    display: inline-block;
}

.sk-child.activeLoading {
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-three-bounce {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.loadmore {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
/*end 加载动画*/


#side-user p {
    font-size: 30px;
    font-weight: bold;
}
    #side-user ul{
        padding: 0;
        margin-left: 15px;
        display: flex;
    }
#side-user ul li{
    list-style: none;
    min-width: 50px;
    line-height: 46px;
}
    /*----------------
    post-opt
------------------*/
    .my-posttitle:hover {
        color: #3b78ea;
    }

#post-opt {
    padding: 0;
    margin: 5px 0 0 0;
}
    #post-opt ul {
        padding: 0;
        margin: 0;
        display: flex;
    }
        #post-opt ul li {
            padding: 0;
            margin: 0;
            min-width: 50px;
            font-size: 14px;
            text-align: center;
            border: 1px solid #cccccc6b;
            list-style: none;
            cursor: pointer;
        }
            #post-opt ul li:hover {
                background-color: #cccccc6b;
            }
            #post-opt ul li a {
                color: #ccccccb5;
                font-weight: 900;
            }