<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off">
  <targets>
    <target xsi:type="Null" name="blackhole" />
    <target name="database" xsi:type="Database"
				  dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
				  connectionString="Server=localhost; Port=3306; Database=zylblog; Uid=root; Pwd=123456;">
      <!--
CREATE TABLE `blog_log` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Application` varchar(50) DEFAULT NULL,
  `Logged` datetime DEFAULT NULL,
  `Level` varchar(50) DEFAULT NULL,
  `Message` varchar(512) DEFAULT NULL,
  `Logger` varchar(250) DEFAULT NULL,
  `Callsite` varchar(512) DEFAULT NULL,
  `Exception` varchar(512) DEFAULT NULL,
  `UserName` varchar(200) DEFAULT NULL,
  `UserId` varchar(500) DEFAULT NULL,
  `Method` varchar(300) DEFAULT NULL,
  `IPAddress` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
-->
      <commandText>
        insert into zylblog.blog_log (
        Application, Logged, Level, Message,
        Logger ,CallSite, Exception,UserName,UserId,Method,IPAddress
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger,@Callsite, @Exception,@UserName,@UserId,@Method,@IPAddress
        );
      </commandText>
      <parameter name="@application" layout="ZYLBlogSite" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${event-context:item=logMessage}" />
      <parameter name="@userid" layout="${event-context:item=userId}" />
      <parameter name="@method" layout="${event-context:item=Method}" />
      <parameter name="@ipaddress" layout="${event-context:item=ipAddress}" />
      <parameter name="@logger" layout="${event-context:item=logger}" />
      <parameter name="@username" layout="${event-context:item=userName}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>